body {
  font-family     : 'Lato', sans-serif;
  font-size       : 1.1em;
  /* line-height: 1.5; */
  color           : #1f1f1f;
  background-color: #f0f0f0;
}

div {
  /* border: 1px solid black; */
}

html {
  scroll-behavior: smooth;
}

body,
ul {
  margin : 0;
  padding: 0;
}

ul li {
  line-height: 2.5;
  list-style : none;
}

h1 {
  font-size: 3em;
}

h2 {
  font-size: 2em;
}

h3 {
  font-size: 1.5em;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
  transition     : color 0.4s ease-in-out;
  color          : #1f1f1f;
}

a:hover {
  color: #918d80;
  /* text-decoration: underline; */
}

p {
  font-size  : 1.2em;
  line-height: 1.6;
}

figcaption {
  font-size : 0.7em;
  text-align: right;
}

nav {
  background-color: #f0f0f0;
  position        : fixed;
  width           : 100%;
  z-index         : 10;
}

nav ul li {
  display  : inline-block;
  font-size: 1.3rem;
  margin   : 0 1%;
  padding  : 1%;
}

li.empty {
  width        : 8%;
  border-bottom: 1px solid #918d80;
  position     : relative;
  /* top       : 1.5rem; */
}

nav ul {
  margin    : 0 auto;
  text-align: center;
  font-size : 1.2rem;
}

header {
  background-color: #f0f0f0;
  position        : relative;
  top             : 60px;
  margin-bottom   : 60px;
  padding         : 50px 20px 20px;
}

header a {
  color: #918d80;
}

header a:hover {
  color: #1f1f1f;
}

footer ul {
  margin: -10px 0 20px;
}

footer ul li {
  display: inline-block;
  margin : 0 1%;
  /* padding: 1%; */
}

footer {
  background-color: #f0f0f0;
  margin          : 0 auto;
  padding         : 20px;
  text-align      : center;
}

.social-link:hover {
  color: rgba(9, 125, 145, 1);
}

.skills-list {
  margin-top : 20%;
  font-family: 'Inconsolata', monospace;
  font-size  : 1.6rem;
}

.profile-picture {
  box-shadow: 1px 2px 30px rgba(0, 0, 0, 0.2);
}

.about {
  background-color: #b5b09f;
  padding         : 20px;
}

.about-link:hover {
  color: #b5b09f;
}

.about a {
  /* text-decoration: none; */
  color: #f0f0f0;
}

.about a:hover {
  color: #1f1f1f;
}

.project1 {
  /* background-color: rgba(9, 125, 145, 0.5); */
  padding: 20px;
}

.project2 {
  /* background-color: #a5cfe6; */
  padding: 20px;
}

.project-image {
  margin-top: 5%;
  width     : 80%;
}

.projects {
  background-color: rgba(9, 125, 145, 0.5);
  padding         : 20px;
}

.projects-link:hover {
  color: rgba(9, 125, 145, 1);
}

.right {
  text-align: right;
}

.icon {
  width: 26px;
  /* vertical-align: text-bottom; */
}

.icon-long {
  height     : 26px;
  margin-left: 1%;
}

.button {
  border       : 1px solid #1f1f1f;
  border-radius: 5px;
  display      : inline-block;
  padding      : 0.5% 3%;
  margin       : 5% 0;
  transition   : all 0.4s ease-in-out;
}

.button:hover {
  /* background-color: #1f1f1f; */
  color: #1f1f1f;
}

:target::before {
  content: "";
  display: block;
  height : 100px;
  /* fixed header height*/
  margin : -100px 0 0;
  /* negative fixed header height */
}
/* nav colour #ffb852 */
/* footer colour #bfffe6 */
/* left colour #c0b490 */
/* right colour #008aa1 */